*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: rgb(251, 239, 223);
    padding-top: 50px;
    background: url(../images/developer.png) ,url(../images/header_bg.png),rgb(251, 239, 223);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
.logo h2{
    font-size: 40px;
    font-weight: 1000px;
}
.lo{
    color: rgb(242, 149, 83);
}
.button{
    background-color: rgb(244, 111, 17);
    border: none;
    padding: 18px 35px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.button:hover{
    background-color: rgb(2, 178, 2);
}
nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner .banner-img img{
    height: 550px;
    width: 400px ;
    vertical-align: middle;
    /* border: 1px solid red; */
}
#banner .banner-text{
    max-width: 585px;
    /* border: 1px solid red; */
}
#banner .banner-text h2{
    font-weight: 600px;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-text h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-text p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.about{
    padding-top: 130px;
}
.about-text{
    max-width: 827px;
    text-align: center;
}
.about-text h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.about-text p{
    font-size: 18px;
    margin-bottom: 18px;
    line-height: 30px;
    color: #757575;
}
.about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 130px 157px;
}
.about-info{
    display: flex;
    justify-content: space-between;
}
.about-info .about-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .about-card h4{
    font-size: 15px;
    line-height: 30px;
}
.kaka{
    padding: 30px ;
    align-items: center;
    margin: 0px auto;
    max-width: 827px;
}
.kaka p{
    font-size: 17px;
    /* line-height: 30px; */
    color: #757575;
}
.dogy{
    max-width: 1140px;
    width: 71%;
    margin: 0px auto;
    display: flex;
    gap: 24px;
}
.dogy .dogy-c{
    padding: 30px;
    /* border: 1px solid green; */
    max-width: 267px;
    box-shadow: 0px 6px 50px #00000033;
}
.dogy .dogy-c img{
    max-width: 44px;
    margin-bottom: 30px;
}
.dogy .dogy-c h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.dogy .dogy-c p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}